$grey-xxlight: #f9f9f9;
$grey-xlight: #acacac;
$grey-light: #c8c7cc;
$grey-medium: #8c8c8c;
$black: #000;
$grey-dark: #111;
$white: #fff;
$white-off: #f7f7f5;
$blue: #007aff;

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: $white-off;
  margin: 0 !important;
}

a,
h2,
p {
  font-family: "Helvetica Neue", sans-serif;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;

  &:active,
  &:focus {
    outline: none;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.essential-bg {
  background-image: url("./images/bg-4.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 206px;
  width: 1973px;
  height: 1544px;
  @media only screen and (max-width: 1450px) {
    background-image: url("./images/bg-4-md.jpg");
    padding-top: 154px;
    width: 1454px;
    height: 1544px;
  }
  @media only screen and (max-width: 500px) {
    background: none;
    padding-top: 0;
    width: 100%;
    height: 100%;
  }
}

.phone-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.slick-list {
  padding-left: 0 !important;
}

.phone-wrapper {
  position: relative;
  background-image: url("./images/iphone-black.png");
  background-repeat: no-repeat;
  background-size: 400px 800px;
  width: 400px;
  height: 800px;
}

a {
  color: $white;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
}

.icon {
  width: 55px;
  height: 74px;
}

.crop {
  position: absolute;
  background-image: url("./images/will-phone-bg.jpg");
  background-repeat: no-repeat;
  background-size: 360px 640px;
  width: 360px !important;
  height: 610px;
  top: 92px;
  margin-left: 22px;
  overflow: hidden;
  background-position-x: -5px;
  background-position-y: -28px;

  &.open {
    height: 615px;
  }
}

.flash-enter {
  opacity: 0.1;
  transform: scale(0.01);
}

.flash-enter.flash-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 200ms linear;
}

.flash-leave {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.flash-leave.flash-leave-active {
  opacity: 0.01;
  transform: scale3d(0.1, 0.1, 0.1);
  transition: all 200ms ease-in;
}

.message {
  display: none;
  position: absolute;
  background-color: $white;
  width: 360px;
  height: 667px;
  z-index: 1000;
}

.messages {
  ul {
    list-style: none;
    padding-left: 10px;

    li {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: $grey-light;
    }
  }
}

.message-image {
  width: 70%;
  margin-bottom: 8px;
  border-radius: 20px;
}

.menu-bottom {
  position: absolute;
  background-image: url("./images/bottom-nav-bg.png");
  background-repeat: no-repeat;
  height: 73px;
  width: 326px;
  bottom: 93px;
  margin-left: 22px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 30px;
  text-align: center;
}

.screen {
  padding-top: 33px;
  padding-left: 28px;
  min-height: 600px;
}

.nav {
  width: 100%;
  background-color: $black;
  margin: 0 auto;
}

.will-logo {
  margin: 0 auto;
  display: block;
}

.icon-wrapper {
  a {
    float: left;
    margin-right: 26px;
    margin-bottom: 10px;
  }
}

.message-wrap {
  border-radius: 20px 20px 20px 20px;
  margin: 0 32px 10px;
  padding: 15px 20px;
  position: relative;
  background-color: #e5e6ea;
  color: #363636;
  margin-right: 80px;
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px;

  &::before {
    border-color: #e5e6ea;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 75px, 42px, 33px);
    content: " ";
    height: 40px;
    position: absolute;
    right: 244px;
    width: 30px;
    bottom: 1px;
  }

  img {
    width: 223px;
  }
}

.keolo,
.will {
  .message-wrap {
    border-radius: 20px 20px 20px 20px;
    margin: 0 49px 10px;
    padding: 15px 20px;
    position: relative;
    background-color: #007aff;
    color: #fff;
    margin-left: 80px;
    margin-bottom: 20px;

    &::before {
      border-color: #007aff;
      clip: rect(20px, 35px, 42px, 0px);
      width: 30px;
      right: -49px;
      bottom: 0;
    }
  }
}

.speech-bubble {
  .sender-name {
    text-align: left;
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    margin-left: 35px;
    margin-bottom: 5px;
  }
}

.speech-bubble.will {
  .sender-name {
    text-align: left;
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    margin-left: 95px;
    margin-bottom: 5px;
  }
}

.left {
  position: absolute;
  top: 0;
  left: 35px;
  font-size: 18px;
}

.left:after {
  border: 3px solid #2095FE;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  content: " ";
  height: 14px;
  left: -20px;
  position: absolute;
  top: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}

.right {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 18px;
}

.large {
  .arrow .message-list {
    margin-top: 90px;
  }

  .app-header-img {
    max-height: 35px;
  }

  .tmpHeader {
    height: 90px;
  }

  .header-cp {
    margin-top: 25px;
  }
}

.tmpHeader {
  color: #333;
  background: $grey-xxlight;
  border-bottom: 1px solid $grey-xlight;
  height: 50px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 363px;

  .arrow {
    position: absolute;
    font-size: 30px;
    top: 12px;
    left: 10px;

    i {
      color: $blue;
    }
  }

  h2 {
    font-weight: bold;
    color: $white-off;
    line-height: 22px;
    font-size: 23px;
  }
}

.message-list {
  margin-top: 50px;
  padding-top: 10px;
  background-color: $white;
  height: 527px;
  width: 377px;
  overflow: scroll;

  span {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }

  span:nth-child(2n) {
    font-weight: normal;
    color: $grey-medium;
  }

  p {
    padding: 0;
    margin: 0;
  }

  aside {
    color: $grey-xlight;
    font-weight: normal;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      text-align: left;
      text-align: left;
      color: $black;
      font-size: 14px;
      font-family: "Helvetica Neue", sans-serif;
      margin-left: 25px;
    }
  }
}

hr {
  background-color: $grey-light;
  height: 1px;
  border: none;
}

.AppHeader {
  cursor: pointer;
  text-transform: capitalize;
}

.header-cp {
  text-align: center;
  margin-top: 20px;
}

.image-crop {
  height: 90px;
  width: 90px;
  overflow: hidden;
  float: left;

  img {
    height: 90px;
    width: auto;
  }

  a {
    float: left;
    height: 100%;
    width: 100%;
  }
}

.photos-container {
  background-color: $white;
  height: 565px;
  width: 375px;
  margin-top: 50px;
  overflow: scroll;
}

.conversation {
  cursor: pointer;
}

.full-width {
  cursor: pointer;
  position: relative;

  img {
    height: auto;
    width: 100%;
  }

  &::after {
    content: "x";
    background: $black;
    border-radius: 50%;
    color: white;
    height: 20px;
    margin: 10px;
    opacity: 0.8;
    padding: 3px 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
  }
}

.Facebook-app,
.Twitter {
  margin-top: 50px;
  background: $white;
  min-height: 563px;
}

.Calendar,
.Music {
  background-color: $white;
  min-height: 563px;
  margin-top: 51px;

  .tmpHeader {
    background: #fff;
    border-color: $grey-light;

    .arrow {
      i {
        color: #FF2D55;
      }
    }
  }
}

.Calendar .app-header-right {
  width: 80px;
}

.phone-wrapper {
  .user-count {
    margin: 10px 0 0 10px;
    padding: 0;
    text-align: left;
  }

  .sub {
    font-size: 14px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
    width: 322px;
  }
}

.instagramHeader {
  position: absolute;
  width: 340px;
  background-color: $white;
  margin-top: -105px;
  padding: 10px;
  height: 85px;

  img {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    border-style: solid;
    border-width: 1px;
    border-color: $white-off;
    text-align: left;
    margin: 0 auto;
    display: block;
  }

  p {
    text-align: left;
    margin: 3px 0 0;
    padding: 0;
    font-size: 13px;
  }
}

.app-header-img {
  img {
    max-height: 27px;
  }
}

.app-header-right {
  position: absolute;
  right: 10px;
  top: 33.333%;
  max-height: 20px;
  width: 20px;
  width: 20px;

  img {
    max-height: 27px;
  }
}

.instagram-wrapper {
  margin-top: 156px;

  .image-crop {
    height: 120px;
    width: 120px;
    overflow: hidden;
    float: left;

    img {
      height: 125px;
      width: auto;
    }
  }

  .photos-container {
    height: 475px;
  }
}

.profile-info {
  float: left;
}

.profile-stats {
  float: left;
  margin-left: 20px;
  text-align: center;

  .follow-count {
    color: $grey-light;
  }

  .count {
    float: left;
    width: 75px;
    text-align: center;

    p {
      text-align: center;
    }
  }
}

.follow-btn {
  a {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    height: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: $grey-light;
    color: $black;
    border-radius: 4px;
  }
}

.time {
  .t-dark,
  .t-light {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 350px;
    z-index: 1000;
  }
}

.light {
  .t-light {
    display: block;
  }

  .t-dark {
    display: none;
  }

  .time-digit {
    color: $white;
  }
}

.dark {
  .t-light {
    display: none;
  }

  .t-dark {
    display: block;
  }

  .time-digit {
    color: black;
  }
}

.time-digit {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  color: $white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  z-index: 1000;
  // font-weight: bold;
}

.avatar-icon {
  display: inline-block;
  padding: 5px 5px 5px 0;
  width: 40px;
}

.message-info {
  display: inline-block;
  margin-left: 10px;

  aside {
    width: 265px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
}

.name-arrow-wrap {
  .message-time {
    float: right;
    color: $grey-medium;

    .fa-angle-right {
      font-size: 20px;
      color: $grey-xlight;
      margin-left: 5px;
    }
  }

  p {
    float: left;
    margin-bottom: 0;
  }
}

.message-footer {
  position: absolute;
  top: 573px;

  img {
    height: 42px;
  }
}

.photo-footer {
  position: absolute;
  top: 568px;
  bottom: 0;

  img {
    height: 48px;
  }
}

.Conversations {
  margin-top: 40px;
  padding-bottom: 20px;
}

.home-btn {
  position: absolute;
  bottom: 31px;
  left: 175px;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.play-track-btn {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: block;
  text-align: left;
  height: 50px;
  background: none;
  border: none;
  margin-bottom: 5px;

  &:focus {
    outline: none;
  }
}

.track-wrapper {
  width: 340px;
  height: 463px;
  overflow: scroll;
  padding: 10px;

  &.player-open {
    max-height: 500px;
  }
}

.track-art {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  border-radius: 3px;

  img {
    width: 100%;
    height: auto;
  }
}

.track-artist {
  color: $grey-medium;
}

.track-info {
  display: inline-block;
  position: absolute;
  left: 60px;
  top: 20%;
  width: 280px;
  margin-bottom: 20px;
  border-bottom: 1px solid $grey-light;
  font-size: 80%;

  p {
    margin: 0 0 5px;
  }

  .track-title {
    // font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
  }
}

.music-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid $grey-light;

  img {
    width: 100%;
  }
}

.current-track-player {
  position: absolute;
  bottom: 45px;
  width: 340px;
  text-align: left;
  padding: 10px;
  height: 50px;
  background-color: $grey-xxlight;

  & > img:first-child {
    max-height: 50px;
    display: inline-block;
    border-radius: 3px;
  }

  p {
    display: inline-block;
    color: $grey-dark;
  }

  .current-track-title {
    position: absolute;
    left: 20%;
    bottom: 23px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 80%;
  }
}

.controls {
  position: absolute;
  right: 15px;
  bottom: 17px;

  button:first-child {
    margin-right: 20px;
  }

  button {
    display: inline-block;
    cursor: pointer;
  }
}

.fast-forward-icon,
.play-icon {
  height: 20px;
}

.Calendar {
  height: 83px;
  text-align: left;

  h5 {
    background: #eee;
    padding: 5px;
    margin: 0;
  }

  .event-wrapper {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  .all-day,
  .event-summary,
  .event-time {
    align-items: baseline;
    flex-flow: row wrap;
    display: inline-block;
    padding-right: 10px;
  }

  .all-day,
  .event-time {
    width: 20%;
    font-size: 70%;
    text-align: right;
  }

  .event-time {
    border-right: 2px solid goldenrod;
  }

  .event-summary {
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

  }

  .all-day {
    border-right: 2px solid purple;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .calendar-header-month {
    color: red;
    font-size: 14px;
    font-weight: lighter;
    position: absolute;
    left: 15px;
    top: 11px;
  }

  .calendar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ddd;
    color: red;
    font-size: 14px;
    border-top: 1px solid #ccc;

    p {
      display: inline-block;
      width: 33%;
      text-align: center;
    }
  }

  .fake-menu {
    padding-top: 4px;
    svg:first-child {
      fill: red;
      height: 18px;
    }

    svg.format-list {
      background: red;
      fill: white;
      border-radius: 3px;
      padding: 3px 0;
      height: 15px;
      margin-right: 5px;
    }
  }
}

.today {
  border-bottom: 1px solid #ccc;
  color: red;
}

.CalendarIcon {
  width: 50px;
  height: 83px;
  float: left;
  line-height: 0;

  .day-word {
    color: red;
    font-size: 60%;
    margin: 0;
  }

  .day-digits {
    font-size: 200%;
    font-weight: 100;
    margin: 0;
    letter-spacing: -5px;
    padding-right: 5px;
  }

  p {
    color: #ddd;
    font-size: 70%;
    margin: 10px 0 0 0;
    text-align: center
  }
}

.calendar-btn {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  background-color: #fff;
  cursor: pointer;
}

.browser-view {
   background-color: $white;
   padding: 17px 102px;
   color: $black;
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 39px;

    &:hover {
      text-decoration: underline;
    }
}
