body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f7f7f5;
  margin: 0 !important; }
  @media screen and (max-width: 500px) {
    body {
      background-color: black; } }

a,
h2,
p {
  font-family: "Helvetica Neue", sans-serif; }

button,
a[role="button"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }
  button:active, button:focus,
  a[role="button"]:active,
  a[role="button"]:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    outline: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  [role="button"]:focus {
    outline: none; }

.wrapper {
  margin: 0 auto;
  width: 100%; }

.essential-bg {
  background-image: url("./images/bg-4.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 206px;
  width: 1973px;
  height: 1544px; }
  @media screen and (min-width: 501px) and (max-width: 1064px) {
    .essential-bg {
      background-position: -300px 0;
      width: auto !important;
      height: auto !important; } }
  @media screen and (max-width: 1450px) {
    .essential-bg {
      background-image: url("./images/bg-4-md.jpg");
      padding-top: 154px;
      width: 1454px;
      height: 1544px; } }
  @media screen and (max-width: 500px) {
    .essential-bg {
      background: none;
      background-position: 0 0;
      padding-top: 0;
      width: 100%;
      height: 100%; } }

.slick-list {
  padding-left: 0 !important;
  height: 530px !important; }

.phone-wrapper {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  background-image: url("./images/iphone-black.png");
  background-repeat: no-repeat;
  background-size: 400px 800px;
  width: 400px;
  height: 800px; }
  .phone-wrapper a[role="button"] img {
    background: none; }

a {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  text-align: center; }

.icon {
  width: 55px;
  height: 74px; }

.crop {
  position: absolute;
  top: 92px;
  width: 360px !important;
  height: 625px;
  margin-left: 22px;
  overflow: hidden;
  background-image: url("./images/will-phone-bg.jpg");
  background-repeat: no-repeat;
  background-size: 360px 640px;
  background-position-x: -5px;
  background-position-y: -28px; }
  .crop.open {
    height: 615px; }
  .crop .crop-container {
    position: relative; }

.flash-enter, .flash-appear {
  transform: scale(0.001);
  min-height: 560px;
  opacity: 0; }

.flash-enter.flash-enter-active {
  transition: all 300ms linear;
  transform: scale(1);
  opacity: 1; }

.flash-leave {
  transition: all 300ms linear; }

.flash-leave.flash-leave-active {
  transform: scale(0.001);
  opacity: 0;
  color: white;
  background-color: white; }

.message {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 360px;
  height: 667px;
  z-index: 1000; }

.messages ul {
  list-style: none;
  padding-left: 10px; }
  .messages ul li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c8c7cc; }

.message-image {
  width: 70%;
  margin-bottom: 8px;
  border-radius: 20px; }

.menu-bottom {
  background-image: url("./images/bottom-nav-bg.png");
  background-repeat: no-repeat;
  height: 75px;
  width: 326px;
  padding-top: 10px;
  padding-left: 30px; }

.screen {
  padding-top: 33px;
  padding-left: 28px;
  min-height: 600px; }

.nav {
  width: 100%;
  background-color: #000;
  margin: 0 auto; }

.will-logo {
  margin: 0 auto;
  display: block; }

.icon-wrapper a {
  float: left;
  margin-right: 26px;
  margin-bottom: 10px;
  background: none; }

.message-wrap {
  border-radius: 20px 20px 20px 20px;
  margin: 0 32px 10px;
  padding: 15px 20px;
  position: relative;
  background-color: #e5e6ea;
  color: #363636;
  margin-right: 80px;
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px; }
  .message-wrap::before {
    border-color: #e5e6ea;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 75px, 42px, 33px);
    content: " ";
    height: 40px;
    position: absolute;
    right: 228px;
    width: 30px;
    bottom: 1px; }
  .message-wrap img {
    width: 223px; }

.keolo .message-wrap,
.will .message-wrap {
  margin: 0 49px 10px;
  background-color: #007aff;
  color: #fff;
  margin-left: 80px; }
  .keolo .message-wrap::before,
  .will .message-wrap::before {
    border-color: #007aff;
    clip: rect(20px, 35px, 42px, 0px);
    right: -49px; }

.speech-bubble .sender-name {
  text-align: left;
  color: #333;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
  margin-left: 35px;
  margin-bottom: 5px; }

.speech-bubble.will .sender-name {
  text-align: left;
  color: #333;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
  margin-left: 95px;
  margin-bottom: 5px; }

.left {
  position: absolute;
  top: 0;
  left: 35px;
  font-size: 18px; }

.left:after {
  border: 3px solid #2095FE;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  content: " ";
  height: 14px;
  left: -20px;
  position: absolute;
  top: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px; }

.right {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 18px; }

.large .app-header-img {
  max-height: 35px; }

.large .tmpHeader {
  height: 90px; }

.large .header-cp {
  margin-top: 25px; }

.tmpHeader {
  color: #333;
  background: #f9f9f9;
  border-bottom: 1px solid #acacac;
  height: 50px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 363px; }
  .tmpHeader .arrow {
    position: absolute;
    font-size: 30px;
    top: 12px;
    left: 10px; }
    .tmpHeader .arrow i {
      color: #007aff; }
  .tmpHeader h2 {
    font-weight: bold;
    color: #f7f7f5;
    line-height: 22px;
    font-size: 23px; }

.message-list {
  padding-top: 10px;
  background-color: #fff;
  height: 527px;
  width: 360px;
  overflow: scroll; }
  .message-list span {
    display: block;
    font-weight: bold;
    margin-bottom: 3px; }
  .message-list span:nth-child(2n) {
    font-weight: normal;
    color: #8c8c8c; }
  .message-list p {
    padding: 0;
    margin: 0; }
  .message-list aside {
    color: #acacac;
    font-weight: normal; }
  .message-list ul {
    margin: 0;
    padding: 0; }
    .message-list ul li {
      list-style: none;
      text-align: left;
      text-align: left;
      color: #000;
      font-size: 14px;
      font-family: "Helvetica Neue", sans-serif;
      margin-left: 25px; }

hr {
  background-color: #c8c7cc;
  height: 1px;
  border: none; }

.AppHeader {
  cursor: pointer;
  text-transform: capitalize; }

.header-cp {
  text-align: center;
  margin-top: 20px; }

.image-crop {
  height: 90px;
  width: 90px;
  overflow: hidden;
  float: left; }
  .image-crop img {
    height: 90px;
    width: auto; }
  .image-crop a {
    float: left;
    height: 100%;
    width: 100%; }

.photos-container {
  background-color: #fff;
  height: 565px;
  width: 360px;
  overflow: scroll; }

.conversation {
  cursor: pointer; }

.full-width {
  cursor: pointer;
  position: relative; }
  .full-width img {
    height: auto;
    width: 100%; }
  .full-width::after {
    content: "x";
    background: #000;
    border-radius: 50%;
    color: white;
    width: 15px;
    height: 20px;
    margin: 10px;
    opacity: 0.8;
    padding: 3px 6px;
    position: absolute;
    right: 0;
    top: 0; }

.Calendar,
.News,
.Music {
  background: #fff;
  min-height: 565px; }
  .Calendar .tmpHeader,
  .News .tmpHeader,
  .Music .tmpHeader {
    background: #fff;
    border-color: #c8c7cc; }
    .Calendar .tmpHeader .arrow i,
    .News .tmpHeader .arrow i,
    .Music .tmpHeader .arrow i {
      color: #FF2D55; }

.PrivacyPolicy,
.TermsAndConditions,
.Calendar,
.Messages,
.News,
.Photos,
.Music,
.Twitter,
.Instagram,
.Facebook {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 575px;
  min-height: 575px;
  width: 360px;
  padding-top: 50px;
  z-index: 2;
  background: #fff; }
  .PrivacyPolicy h4.unavailable,
  .TermsAndConditions h4.unavailable,
  .Calendar h4.unavailable,
  .Messages h4.unavailable,
  .News h4.unavailable,
  .Photos h4.unavailable,
  .Music h4.unavailable,
  .Twitter h4.unavailable,
  .Instagram h4.unavailable,
  .Facebook h4.unavailable {
    text-align: center; }

.TermsAndConditions, .PrivacyPolicy {
  height: 630px;
  width: 340px;
  padding: 50px 10px;
  overflow-y: scroll;
  text-align: left; }
  .TermsAndConditions a, .PrivacyPolicy a {
    color: #111;
    text-decoration: underline; }

.legal-links a {
  margin-left: 7px; }

.Twitter iframe {
  margin-top: -45px !important; }

.Facebook {
  padding-top: 0; }

.Calendar .app-header-right {
  width: 80px; }

.Conversations {
  margin-top: 40px; }

.phone-wrapper .user-count {
  margin: 10px 0 0 10px;
  padding: 0;
  text-align: left; }

.phone-wrapper .sub {
  width: 322px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
  text-align: left; }

.instagramHeader {
  width: 340px;
  height: 85px;
  position: absolute;
  top: 0;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px; }
  .instagramHeader img {
    height: 65px;
    width: 65px;
    border: 1px solid #f7f7f5;
    border-radius: 50%;
    text-align: left;
    margin: 0 auto;
    display: block; }
  .instagramHeader p {
    text-align: left;
    margin: 3px 0 0;
    padding: 0;
    font-size: 13px; }

.app-header-img img {
  max-height: 27px; }

.app-header-right {
  position: absolute;
  right: 10px;
  top: 33.333%;
  max-height: 20px;
  width: 20px; }
  .app-header-right img {
    max-height: 27px; }

.instagram-wrapper {
  padding-top: 156px;
  position: relative; }
  .instagram-wrapper .image-crop {
    height: 120px;
    width: 120px;
    overflow: hidden;
    float: left; }
    .instagram-wrapper .image-crop img {
      height: 125px;
      width: auto; }
  .instagram-wrapper .photos-container {
    height: 410px; }

.profile-info {
  float: left; }

.profile-stats {
  float: left;
  margin-left: 20px;
  text-align: center; }
  .profile-stats .follow-count {
    color: #c8c7cc; }
  .profile-stats .count {
    float: left;
    width: 75px;
    text-align: center; }
    .profile-stats .count p {
      text-align: center; }

.follow-btn a {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #c8c7cc;
  color: #000;
  border-radius: 4px; }

.time .t-dark,
.time .t-light {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 350px;
  z-index: 1000; }

.light .t-light {
  display: block; }

.light .t-dark {
  display: none; }

.light .time-digit {
  color: #fff; }

.dark .t-light {
  display: none; }

.dark .t-dark {
  display: block; }

.dark .time-digit {
  color: black; }

.time-digit {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  z-index: 1000; }

.avatar-icon {
  display: inline-block;
  padding: 5px 5px 5px 0;
  width: 40px; }

.message-info {
  display: inline-block;
  margin-left: 10px; }
  .message-info aside {
    width: 265px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; }

.name-arrow-wrap .message-time {
  float: right;
  color: #8c8c8c;
  width: 95px; }
  .name-arrow-wrap .message-time .fa-angle-right {
    font-size: 20px;
    color: #acacac;
    margin-left: 5px; }

.name-arrow-wrap p {
  text-align: left;
  float: left;
  margin-bottom: 0;
  width: 185px; }

.message-footer {
  position: absolute;
  top: 573px; }
  .message-footer img {
    height: 42px; }

.photo-footer {
  position: absolute;
  top: 568px;
  bottom: 0; }
  .photo-footer img {
    height: 48px; }

.Conversations {
  margin-top: 40px;
  padding-bottom: 20px; }

.home-btn {
  position: absolute;
  bottom: 31px;
  left: 175px;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer; }

.play-track-btn {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: block;
  text-align: left;
  height: 50px;
  background: none;
  border: none;
  margin-bottom: 5px; }
  .play-track-btn:focus {
    outline: none; }

.track-wrapper {
  width: 340px;
  height: 463px;
  overflow: scroll;
  padding: 10px; }
  .track-wrapper.player-open {
    max-height: 500px; }

.track-art {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  border-radius: 3px; }
  .track-art img {
    width: 100%;
    height: auto; }

.track-artist {
  color: #8c8c8c; }

.track-info {
  display: inline-block;
  position: absolute;
  left: 60px;
  top: 20%;
  width: 280px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c8c7cc;
  font-size: 80%; }
  .track-info p {
    margin: 0 0 5px; }
  .track-info .track-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%; }

.music-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #c8c7cc; }
  .music-footer img {
    width: 100%; }

.current-track-player {
  position: absolute;
  bottom: 45px;
  width: 340px;
  text-align: left;
  padding: 10px;
  height: 50px;
  background-color: #f9f9f9; }
  .current-track-player > img:first-child {
    max-height: 50px;
    display: inline-block;
    border-radius: 3px; }
  .current-track-player p {
    display: inline-block;
    color: #111; }
  .current-track-player .current-track-title {
    position: absolute;
    left: 20%;
    bottom: 23px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 80%; }

.controls {
  position: absolute;
  right: 15px;
  bottom: 17px; }
  .controls button:first-child {
    margin-right: 20px; }
  .controls button {
    display: inline-block;
    cursor: pointer; }

.fast-forward-icon,
.play-icon {
  height: 20px; }

.Calendar {
  height: 83px;
  text-align: left; }
  .Calendar h5 {
    background: #eee;
    padding: 5px;
    margin: 0; }
  .Calendar .event-wrapper {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: flex-start;
    align-items: baseline; }
  .Calendar .all-day,
  .Calendar .event-summary,
  .Calendar .event-time {
    align-items: baseline;
    flex-flow: row wrap;
    display: inline-block;
    padding-right: 10px; }
  .Calendar .all-day,
  .Calendar .event-time {
    width: 20%;
    font-size: 70%;
    text-align: right; }
  .Calendar .event-time {
    border-right: 2px solid goldenrod; }
  .Calendar .event-summary {
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; }
  .Calendar .all-day {
    border-right: 2px solid purple;
    padding-top: 10px;
    padding-bottom: 10px; }
  .Calendar .calendar-header-month {
    color: red;
    font-size: 14px;
    font-weight: lighter;
    position: absolute;
    left: 15px;
    top: 11px; }
  .Calendar .calendar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ddd;
    color: red;
    font-size: 14px;
    border-top: 1px solid #ccc; }
    .Calendar .calendar-footer p {
      display: inline-block;
      width: 33%;
      text-align: center; }
  .Calendar .fake-menu {
    padding-top: 4px; }
    .Calendar .fake-menu svg:first-child {
      fill: red;
      height: 18px; }
    .Calendar .fake-menu svg.format-list {
      background: red;
      fill: white;
      border-radius: 3px;
      padding: 3px 0;
      height: 15px;
      margin-right: 5px; }

.today {
  border-bottom: 1px solid #ccc;
  color: red; }

.NewsIcon, .CalendarIcon {
  width: 55px;
  height: 83px; }

.NewsIcon img {
  width: 100%;
  height: 55px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer; }

.NewsIcon p {
  font-size: 70%;
  color: #c8c7cc;
  font-weight: 100;
  padding: 0;
  margin: 0; }

.CalendarIcon {
  float: left;
  line-height: 0; }
  .CalendarIcon .day-word {
    color: red;
    font-size: 55%;
    margin: 7px 0 0; }
  .CalendarIcon .day-digits {
    font-size: 200%;
    font-weight: 100;
    margin-top: -3px;
    letter-spacing: -2px;
    padding-right: 2px; }
  .CalendarIcon p {
    font-size: 70%;
    color: #c8c7cc;
    padding: 0;
    margin: 10px 0 0; }

.calendar-btn {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  background-color: #fff;
  cursor: pointer; }

.browser-view {
  background-color: #fff;
  padding: 17px 102px;
  color: #000;
  text-decoration: none;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 39px; }
  .browser-view:hover {
    text-decoration: underline; }

.News .selected-news-wrapper {
  height: 555px;
  overflow-y: scroll;
  text-align: left; }
  .News .selected-news-wrapper h3,
  .News .selected-news-wrapper aside,
  .News .selected-news-wrapper p {
    margin: 10px 15px; }
  .News .selected-news-wrapper h3 {
    font-weight: 300;
    font-size: 150%;
    text-transform: capitalize; }
  .News .selected-news-wrapper img {
    margin: 15px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .News .selected-news-wrapper p {
    white-space: pre-line;
    text-align: left;
    font-family: serif;
    line-height: 1.314; }

.News hr {
  margin: 30px auto;
  width: 50%; }

.News ul {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 565px; }

.News li {
  list-style: none; }

.News [role="button"] {
  text-align: left; }
  .News [role="button"] p {
    padding: 0px 10px; }

.legal-container {
  margin: 75px auto;
  padding-bottom: 75px; }
  .legal-container a {
    text-decoration: underline; }

@keyframes scaleIn {
  from {
    opacity: 0.1;
    transform: scale(0.3); }
  to {
    opacity: 1;
    transform: scale(1); } }

@keyframes fadeIn {
  from {
    opacity: 0.1; }
  to {
    opacity: 1; } }
